server:
  port: 8084

spring:
  application:
    name: consumer-service

management:
  endpoints:
    web:
      exposure:
        include: health,info

logging:
  level:
    root: info

dataspace:
  daps:
    base-url: "http://localhost:8081"
    client-id: "consumer-1"
    scope: "data:read"

  clearinghouse:
    base-url: "http://localhost:8085"