server:
  port: 8085

spring:
  application:
    name: clearinghouse-service

  datasource:
    url: jdbc:postgresql://localhost:5432/dataspace
    username: dataspace
    password: dataspace

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

management:
  endpoints:
    web:
      exposure:
        include: health,info
