server:
  port: 8083

spring:
  application:
    name: provider-service

  security:
    oauth2:
      resourceserver:
        jwt:
          key-value: "dataspace-mvp-super-secret-key-2026-0123-very-long!!"

management:
  endpoints:
    web:
      exposure:
        include: health,info

logging:
  level:
    root: info
    //org.springframework.security: info
    org.springframework.security: DEBUG
    org.springframework.security.oauth2: DEBUG