server:
  port: 8081

spring:
  application:
    name: daps-service

management:
  endpoints:
    web:
      exposure:
        include: health,info

logging:
  level:
    root: info
    org.springframework.security: info

daps:
  jwt:
    issuer: "daps-service"
    audience: "provider-service"
    secret: "change-me-to-a-long-random-string-at-least-32-chars"
    ttl-seconds: 3600
