server:
  port: 8081

spring:
  application:
    name: daps-service

management:
  endpoints:
    web:
      exposure:
        include: health,info

logging:
  level:
    root: info
    org.springframework.security: info

daps:
  jwt:
    issuer: "daps-service"
    audience: "provider-service"
    secret: "dataspace-mvp-super-secret-key-2026-0123-very-long!!"
    ttl-seconds: 3600
