server:
  port: 8082
  error:
    include-message: always
    include-binding-errors: always
    include-exception: true
    include-stacktrace: always

spring:
  application:
    name: broker-service

  datasource:
    url: jdbc:postgresql://localhost:5432/dataspace
    username: dataspace
    password: dataspace
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate:
        format_sql: true

management:
  endpoints:
    web:
      exposure:
        include: health,info

logging:
  level:
    org.springframework.web: DEBUG
    org.springframework.web.servlet: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.orm.jdbc.bind: TRACE