server:
  port: 8082

spring:
  application:
    name: broker-service

  datasource:
    url: jdbc:postgresql://localhost:5432/dataspace
    username: dataspace
    password: dataspace
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate:
        format_sql: true

management:
  endpoints:
    web:
      exposure:
        include: health,info

logging:
  level:
    root: info
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace
